

.grid-container {
  margin: 2em;
  overflow: scroll;
}
.row-container{
  display:flex;
  justify-content: center;
}

.gol-cell{
  display: inline;
  width: 2em;
  height: 2em;
  background-color: #DEF5E5;
  border: 1px solid #8EC3B0;
}

.cell-life{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height:2em;
}