

.grid-container {
  margin: 2em;
}
.row-container{
  display:flex;
  justify-content: center;
}

.gol-cell{
  display: inline;
  border: 1px solid grey;
  width: 2em;
  height: 2em;
  background-color: lightblue;

}