.App {
  text-align: center;
}

.header {
  background-color: #BAD1C2;
  margin: 0;
  padding: 1em;
  margin-bottom: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #50577A;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
